* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

body {
	width: 960px;
	padding: 50px 0;
	margin: 0 auto;
}

.box:last-child {
	margin: 0;
}

.box {
	width: 300px;
	float: left;
	margin-right: 30px;
	padding: 10px;
	position: relative;
	border: 1px solid #ababab;
}

.pic1 {
	background-image: url(img/flow01.png);
	height: 150px;
	background-size: cover;
	background-position: bottom;
}

.pic2 {
	background-image: url(img/flow02.png);
	height: 150px;
	background-size: cover;
	background-position: bottom;
}

.pic3 {
	background-image: url(img/flow03.png);
	height: 150px;
	background-size: cover;
	background-position: bottom;
}

.step {
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	background-color: #ff9a4b;
}

@media screen and (max-width:768px) {
	body {
		width: 100%;
	}
	.box {
		width: 90%;
		float: none;
		margin: 0 auto;
	}
	.box:last-child {
		margin: 0 auto;
	}
	.box:nth-child(1) {
		margin-bottom: 20px;
	}
	.box:nth-child(2) {
		margin-bottom: 20px;
	}
	.pic1 {
		height: none;
	}
}